:root {
    --type-vo: #cf403d; /* original colour */
    --type-sp: #248ecf; /* original colour */
    --type-gd: #3ea15b; /* original colour */
    --type-sk: #a07200;
    --type-vo-orig: #cf403d; /* original colour */
    --type-sp-orig: #248ecf; /* original colour */
    --type-gd-orig: #3ea15b; /* original colour */
    --type-sk-orig: #e4b642; /* original colour */
    --attr-s: #dd4aa5; /* original colour */
    --attr-p: #39a85d; /* original colour */
    --attr-c: #0099ee; /* original colour */
    --attr-a: #db3e3e; /* original colour */
    --attr-n: #b98c19;
    --attr-e: #85519c; /* original colour */
    --attr-s-orig: #dd4aa5; /* original colour */
    --attr-p-orig: #39a85d; /* original colour */
    --attr-c-orig: #0099ee; /* original colour */
    --attr-a-orig: #db3e3e; /* original colour */
    --attr-n-orig: #edbb3e; /* original colour */
    --attr-e-orig: #85519c; /* original colour */
}

.dark-mode {
    --type-vo: #ff8e8b;
    --type-sp: #248ecf;
    --type-gd: #28ca57;
    --type-sk: #e4b642; /* original colour */
    --attr-s: #ffb6e3;
    --attr-p: #16d754;
    --attr-c: #3cb9ff;
    --attr-a: #ff8e8e;
    --attr-n: #edbb3e; /* original colour */
    --attr-e: #de94ff;
}

body.loading {
    pointer-events: none;
}

body > .container {
    opacity: 0;
    transition: opacity 0.5s;
}

body:not(.loading) > .container {
    opacity: 1;
}

.row, .col {
    width: 100%;
}

.floorno {
    width: 3em;
}

.nav-content {
    width: 100%;
}

.nav-content li.tab, .collapsible-header {
    text-transform: none;
}

.nav-wrapper .right a {
    text-decoration: none;
}

.nav-wrapper .right a.on i {
    color: var(--key-dark);
}

nav ul a:hover {
    background-color: var(--key-normal);
}

li.hidden-tab {
    flex-grow: 0 !important;
}

li.hidden-tab a {
    width: 0 !important;
    padding: 0 !important;
}

div.unloaded {
    margin-top: 2em;
    text-align: center;
    height: 75vh;
}

h5 {
    color: var(--key-accented);
    letter-spacing: .05em;
    font-weight: 700;
}

.collapsible-header .row, .nomargin {
    margin: 0 !important;
}

.collapsible-header .col {
    padding: 0 !important;
}

.collapsible-header img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1em;
}

.fake-collapsible-header .spacer {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 4em;
}

body:not(.show-unavail) .collapsible.unavail, body:not(.show-unavail) .tab.unavail {
    display: none;
}

.collapsible.unavail .collapsible-header {
    background-color: var(--option);
    color: var(--dark-border);
}

.tab.unavail {
    background-color: var(--option);
}


.collapsible.note .collapsible-header b::after {
    font-weight: normal;
    margin-left: 0.5em;
}

.collapsible.temp .collapsible-header b::after {
    content: "(time-limited)";
}

.collapsible.temp.has-date .collapsible-header b::after {
    content: "(time-limited, " attr(data-end-formatted) ")";
    border-bottom: 1px dashed var(--dark-border);
}

.collapsible.unavail .collapsible-header b::after {
    content: "(unavailable)";
}

.collapsible.daily .collapsible-header b::after {
    content: "(daily: " attr(data-weekday) ")";
}

.collapsible-body .tabs.tabs-transparent {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.collapsible-body .tabs.tabs-transparent .tab a {
    color: var(--text);
}

.collapsible-body .tabs.tabs-transparent .tab a.active, .tabs.tabs-transparent .tab a:hover {
    color: var(--text);
}

.collapsible-body .tabs.tabs-transparent .tab a.active {
    background-color: var(--key-low);
    text-decoration: none;
}

.collapsible-body .tabs.tabs-transparent.fakeindicator .tab a.active {
    border-bottom: 5px solid var(--key-normal);
}

div.group-tab {
    margin-bottom: -0.5em;
}

div.group-tab div.no-available-songs {
    text-align: center;
    margin-top: 2em;
    width: 100%;
}

body.show-unavail div.group-tab div.no-available-songs {
    display: none;
}

.tabs.tabs-fixed-width .tab {
    flex-basis: 0;
}

.tab img {
    height: 1.4em;
    width: 1.4em;
    vertical-align: text-bottom;
}

.notebarcontainer {
    overflow-x: auto;
    overflow-y: hidden;
}

.notebar {
    width: 100%;
    min-width: 1100px;
    background: var(--text);
    position: relative;
    height: 1em;
    user-select: none;
    --markerlayers: 0;
    margin: calc((var(--markerlayers) * 0.625 + 0.5) * 1em) 0 1.2em;
    z-index: 1;
    font-size: 150%;
}

.notebar:after {
    content: '';
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--text);
    opacity: 0.33;
    pointer-events: none;
}

.dark-mode .notebar:after {
    opacity: 0.5;
}

.notebar .appealchance {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 70%;
    white-space: nowrap;
    user-select: none;
    z-index: 2;
}

.notebar .appealchance.vo {
    background: var(--type-vo-orig);
}

.notebar .appealchance.sp {
    background: var(--type-sp-orig);
}

.notebar .appealchance.gd {
    background: var(--type-gd-orig);
}

.notebar .appealchance.sk {
    background: var(--type-sk-orig);
}

.notebar .note {
    position: absolute;
    height: 50%;
    background: var(--sidenav);
    width: 2px;
    z-index: 4;
    pointer-events: none;
}

.notebar .note.top {
    top: 0;
}

.notebar .note.bottom {
    top: 50%;
}

.notebar .hold {
    position: absolute;
    height: 0.25em;
    z-index: 4;
    background: repeating-linear-gradient(to right, var(--sidenav) 0%, var(--sidenav) 50%, transparent 50%, transparent 100%);
    background-size: 2px 0.5em;
    pointer-events: none;
}

.notebar .hold.top {
    top: 0.125em;
}

.notebar .hold.bottom {
    top: 0.625em;
}

.notebar .note.gimmicked {
    background: lightskyblue;
}

.dark-mode .notebar .note.gimmicked {
    background: darkcyan;
}

.notebar .gimmick {
    position: absolute;
    font-size: 50%;
    --gimmicklayer: -999;
    --gimmicklayer-filtered: -999;
    transition: opacity .2s, top .2s;
    user-select: none;
    top: calc((-1.45 - var(--gimmicklayer) * 1.25) * 1em);
    background: var(--panel);
    height: 1.25em;
}

.notebar .gimmick.filtered {
    top: calc((-1.45 - var(--gimmicklayer-filtered) * 1.25) * 1em);
}

.notebar .gimmick.hidden {
    opacity: 0.05;
    z-index: 0;
}

.notebar .gimmickmarker {
    position: absolute;
    background: var(--panel);
    color: var(--text);
    user-select: none;
    width: 1.25em;
    height: 1.25em;
    line-height: 1em;
    text-align: center;
    border: 1px solid var(--text);
    border-radius: 0.625em;
    z-index: 5;
    left: -0.625em;
    top: 0;
}

.notebar .gimmicklength {
    background: var(--text);
    position: absolute;
    z-index: 4;
    top: calc(0.625em - 1px);
    height: 2px;
    width: 100%;
}

.notebar .marker {
    width: 2em;
    text-align: center;
    position: absolute;
    font-size: 50%;
    top: 1.8em;
    line-height: 1em;
    z-index: 0;
    user-select: none;
}

.notebar .marker.fifty {
    font-weight: bold;
}

.notebar .marker.five {
    top: 1.5em;
    color: var(--dark-border);
}

.notebar .selection {
    height: 100%;
    top: 0;
    background-color: var(--key-normal);
    position: absolute;
    opacity: 0.5;
    z-index: 6;
}

.detailinfo h5 {
    font-size: 1.3rem;
    margin-top: 0;
}

.detailinfo .appealchance.vo > div:first-child {
    border-left: .4em solid var(--type-vo-orig);
}

.detailinfo .appealchance.sp > div:first-child {
    border-left: .4em solid var(--type-sp-orig);
}

.detailinfo .appealchance.gd > div:first-child {
    border-left: .4em solid var(--type-gd-orig);
}

.detailinfo .appealchance.sk > div:first-child {
    border-left: .4em solid var(--type-sk-orig);
}

.detailinfo > div {
    border: 1px solid var(--border);
    margin-bottom: 1em;
}

.detailinfo > div > div:first-child {
    background-color: var(--key-low);
    border-bottom: 1px solid var(--border);
    font-weight: bold;
    transition: background-color .2s;
}

.detailinfo > div.gimmick:hover > div:first-child::after {
    content: "click to highlight";
    float: right;
    font-weight: normal;
    font-size: 70%;
    margin-top: 0.33em;
}

.detailinfo > div.gimmick.filtered > div:first-child::after {
    content: "click to unhighlight";
    float: right;
    font-weight: normal;
    font-size: 70%;
    margin-top: 0.33em;
}

.detailinfo .songgimmick {
    width: 100%;
    display: flex;
}

.detailinfo .songgimmick > .number {
    flex: 0 1 0;
    font-weight: bold;
    padding-right: .5em;
}

.detailinfo .songgimmick > .text {
    flex: 1 1 0;
}

.detailinfo > div.filtered > div:first-child {
    background-color: var(--key-normal);
}

.detailinfo > div > div {
    padding: .3em .8em .2em;
}

.detailinfo > div.appealchance > div:first-child {
    padding-left: .4em;
}

.tooltip {
    position: absolute;
    max-width: 350px;
    left: 0;
    top: 0;
    transform: translate(-50%, -100%);
    z-index: 100;
    pointer-events: none;
}

.tooltip .tooltip-inner {
    background-color: var(--panel);
    border: 1px solid var(--border);
    padding: .5em .8em;
}

.tooltip .tooltip-arrow {
    width: 100%;
    height: 0.7rem;
    font-size: 2.1rem;
    line-height: 0;
    color: var(--border);
    text-align: center;
    overflow: hidden;
}

.tooltip .col.m6 {
    width: 100%;
}

.tower .collapsible-body .collapsible {
    margin-top: 0;
    margin-bottom: 0;
}

.progress {
    background: none;
    height: 1.5em;
    line-height: 1em;
    margin: 0 0 0 1.66em;
    padding-left: 2em;
    border-left: 5px dotted var(--key-normal);
    text-transform: uppercase;
}

.progress.reward {
    height: 5em;
    padding-top: 2em;
}

.progress.reward:last-child {
    height: 3em;
    overflow: visible;
    margin-bottom: 2em;
}

.input-field .prefix.active {
    color: var(--key-accented);
}

.t, .a {
    font-weight: 500;
}

.t.vo {
    color: var(--type-vo);
}

.t.sp {
    color: var(--type-sp);
}

.t.gd {
    color: var(--type-gd);
}

.t.sk {
    color: var(--type-sk);
}

.a.smile {
    color: var(--attr-s);
}

.a.pure {
    color: var(--attr-p);
}

.a.cool {
    color: var(--attr-c);
}

.a.active {
    color: var(--attr-a);
}

.a.natural {
    color: var(--attr-n);
}

.a.elegant {
    color: var(--attr-e);
}

.dark-mode .light-blue.lighten-5 {
    background-color: #006ece !important;
}

.striped-manually > tbody > tr, .striped-manually > thead > tr {
    border: none;
}

.striped-manually > tbody > tr.odd {
    background-color: var(--option);
}

.rankingtable {
    margin-bottom: 1em;
}

.rankingtable td, .rankingtable th {
    padding: 5px 5px;
}

.rankingtable th, .rankingtable tr td:first-child {
    font-weight: bold;
}

.rankingtable thead tr {
    background-color: var(--key-low) !important;
}

.rankingtable tr.hidden {
    display: none;
    background-color: var(--border);
}

.rankingtable.show-all tr.hidden {
    display: table-row;
}

.rankingtable:not(.show-all) span.open {
    display: none;
}

.rankingtable.show-all span.notopen {
    display: none;
}

.rankingtable tr td:nth-child(1) {
    text-align: center;
    width: 7.5%;
}

.rankingtable tr td:nth-child(2) {
    width: 7.5%;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 50%;
}

.rankingtable tr td:nth-child(3) {
    width: 65%;
}

.rankingtable tr td:nth-child(4) {
    width: 20%;
}

.rankingtable tr.open-button {
    display: none;
}

.rankingtable a, .rankingtable a:visited:not(:hover):not(:focus) {
    color: var(--text);
}

@media only screen and (max-width: 992px) {
    .rankingtable:not(.open) tr.hide-if-narrow {
        display: none;
    }

    .rankingtable tr.open-button {
        display: table-row;
    }

    .rankingtable.open tr.open-button {
        display: none;
    }
}

.fake-collapsible-header {
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    text-transform: uppercase;
    background-color: var(--option);
    user-select: none;
    border: 1px solid var(--border);
    line-height: 1.5;
    padding: 1rem;

}