<meta charset="utf-8"><link type="text/css" rel="stylesheet" href="../vendor/materialize.min.css" media="screen,projection"/><link type="text/css" rel="stylesheet" href="../css/style.css" media="screen,projection"/><link type="text/css" rel="stylesheet" href="../css/songdb.css" media="screen,projection"/>
<div class="row nomargin">
<div class="col l6">
<b>Note Count:</b> 313<br>
<b>Notes in ACs:</b> 167 (53%)<br>
<b>Total Note Damage:</b> 336&#8239;294
</div>
<div class="col l6">
<b>Total AC Reward Voltage:</b> 34&#8239;110&#8239;000<br>
<b>SP Gauge Size:</b> 8&#8239;400

<br>
<b>Actual Song Length:</b> 2:01

</div>
</div>
<div class="notebarcontainer" tabindex="-1">
<div class="notebar" style="--markerlayers: 4"
data-totaltime="115180.61224489796">

<div data-ac="0" class="appealchance vo"
style="left: 5.871479575112733%; width: 5.246542696917884%;">&nbsp;
</div>

<div data-ac="1" class="appealchance vo"
style="left: 15.615306927009044%; width: 6.370863860662491%;">&nbsp;
</div>

<div data-ac="2" class="appealchance sp"
style="left: 31.729998139567847%; width: 1.1243211637446069%;">&nbsp;
</div>

<div data-ac="3" class="appealchance vo"
style="left: 35.85221967274113%; width: 7.120990104272792%;">&nbsp;
</div>

<div data-ac="4" class="appealchance vo"
style="left: 49.71913675948156%; width: 6.745058780796797%;">&nbsp;
</div>

<div data-ac="5" class="appealchance vo"
style="left: 60.21222215331733%; width: 7.026356122150659%;">&nbsp;
</div>

<div data-ac="6" class="appealchance vo"
style="left: 70.3311126270188%; width: 6.370863860662491%;">&nbsp;
</div>

<div data-ac="7" class="appealchance vo"
style="left: 80.26160333814683%; width: 6.184200501430761%;">&nbsp;
</div>

<div data-ac="8" class="appealchance sp"
style="left: 94.50271534502157%; width: 0.7501262436103016%;">&nbsp;
</div>


<div class="note top "
style="left: calc(1% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(1% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(1.1866633592317302% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(1.1866633592317302% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(2.498516083878912% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(2.498516083878912% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(2.498516083878912% - 1px);">&nbsp;
</div>

<div class="hold bottom"
style="left: calc(2.498516083878912% - 1px);
width: 0.7501262436103016%;">&nbsp;
</div>




<div class="note top "
style="left: calc(3.2486423274892138% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(3.2486423274892138% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(3.99790036942867% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(3.99790036942867% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(3.99790036942867% - 1em);">
|<br>10
</div>


<div class="note bottom "
style="left: calc(4.372963491233821% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(4.747158411368126% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(4.747158411368126% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(5.122221533173278% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(5.4964164533075826% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(5.4964164533075826% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(5.4964164533075826% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(5.871479575112733% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(6.246542696917884% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(6.246542696917884% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(6.62073761705219% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(6.62073761705219% - 1em);">
|<br>20
</div>


<div class="note top "
style="left: calc(6.99580073885734% - 1px);">&nbsp;
</div>

<div class="hold top"
style="left: calc(6.99580073885734% - 1px);
width: 0.7492580419394562%;">&nbsp;
</div>




<div class="note bottom "
style="left: calc(6.99580073885734% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(7.745058780796797% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(7.745058780796797% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(8.120121902601948% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(8.120121902601948% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(8.495185024407098% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(8.682716585309674% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(8.869379944541404% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(9.05691150544398% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(9.244443066346555% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(9.244443066346555% - 1em);">
|<br>30
</div>


<div class="note bottom "
style="left: calc(9.244443066346555% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(9.993701108286011% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(10.36876423009116% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(10.743827351896313% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(11.118022272030617% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(11.118022272030617% - 1em);">
|<br>&nbsp;
</div>


<div class="note top gimmicked"
style="left: calc(11.493085393835768% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="0"
data-npos="36"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 11.493085393835768%;

">
<div class="gimmickmarker">1</div>

</div>



<div class="note bottom gimmicked"
style="left: calc(11.493085393835768% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="0"
data-npos="37"
style="--gimmicklayer: 1;
--gimmicklayer-filtered: 1;
left: 11.493085393835768%;

">
<div class="gimmickmarker">1</div>

</div>



<div class="note top "
style="left: calc(12.242343435775224% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(12.242343435775224% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(12.617406557580376% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(12.617406557580376% - 1em);">
|<br>40
</div>


<div class="note top "
style="left: calc(12.992469679385525% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(13.366664599519831% - 1px);">&nbsp;
</div>




<div class="note top gimmicked"
style="left: calc(13.741727721324983% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="1"
data-npos="43"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 13.741727721324983%;

width: 8.619506188151703%;

">
<div class="gimmickmarker">2</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note top gimmicked"
style="left: calc(14.116790843130133% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="2"
data-npos="44"
style="--gimmicklayer: 1;
--gimmicklayer-filtered: 0;
left: 14.116790843130133%;

width: 8.619506188151703%;

">
<div class="gimmickmarker">3</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note bottom gimmicked"
style="left: calc(14.490985763264439% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="3"
data-npos="45"
style="--gimmicklayer: 2;
--gimmicklayer-filtered: 0;
left: 14.490985763264439%;

width: 8.619506188151703%;

">
<div class="gimmickmarker">4</div>

<div class="gimmicklength">&nbsp;</div>

</div>


<div class="marker five"
style="left: calc(14.490985763264439% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(14.86604888506959% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(15.240243805203894% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(15.615306927009044% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(15.990370048814196% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(15.990370048814196% - 1px);">&nbsp;
</div>



<div class="marker fifty"
style="left: calc(15.990370048814196% - 1em);">
|<br>50
</div>


<div class="note top "
style="left: calc(16.3645649689485% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(16.739628090753655% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(16.739628090753655% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(17.48888613269311% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(17.48888613269311% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(17.48888613269311% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(17.86394925449826% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(17.86394925449826% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(18.239012376303407% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(18.239012376303407% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(18.988270418242866% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(18.988270418242866% - 1em);">
|<br>60
</div>


<div class="note bottom "
style="left: calc(18.988270418242866% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(19.363333540048018% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(19.363333540048018% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(19.73752846018232% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(19.73752846018232% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(19.73752846018232% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(20.487654703792625% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(20.487654703792625% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(20.86184962392693% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(20.86184962392693% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(21.236912745732077% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(21.236912745732077% - 1em);">
|<br>70
</div>


<div class="note bottom "
style="left: calc(21.236912745732077% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(21.986170787671536% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(22.361233909476688% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(22.736297031281836% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(23.110491951416144% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(23.110491951416144% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(23.485555073221295% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(23.860618195026447% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(24.23481311516075% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(24.984071157100207% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(25.35913427890536% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(25.35913427890536% - 1em);">
|<br>80
</div>


<div class="note bottom "
style="left: calc(25.734197400710507% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(26.483455442649966% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(26.483455442649966% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(27.420245045491995% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(27.420245045491995% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(27.420245045491995% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(27.982839728199725% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(28.357034648334025% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(28.73209777013918% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(29.10716089194433% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(29.481355812078633% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(29.481355812078633% - 1em);">
|<br>90
</div>


<div class="note bottom "
style="left: calc(29.481355812078633% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(29.856418933883784% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(29.856418933883784% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(30.231482055688936% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(30.231482055688936% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(30.231482055688936% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(30.98074009762839% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(30.98074009762839% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(31.355803219433543% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(31.355803219433543% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(31.729998139567847% - 1px);">&nbsp;
</div>



<div class="marker fifty"
style="left: calc(31.729998139567847% - 1em);">
|<br>100
</div>


<div class="note bottom "
style="left: calc(31.729998139567847% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(32.48012438317815% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(32.85431930331245% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(33.229382425117606% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(33.229382425117606% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(33.229382425117606% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(33.97864046705706% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(33.97864046705706% - 1px);">&nbsp;
</div>




<div class="note top gimmicked"
style="left: calc(34.72789850899652% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="4"
data-npos="108"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 34.72789850899652%;

width: 8.62037438982255%;

">
<div class="gimmickmarker">5</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note bottom "
style="left: calc(34.72789850899652% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(35.478024752606814% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(35.478024752606814% - 1em);">
|<br>110
</div>


<div class="note top "
style="left: calc(35.85221967274113% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(36.22728279454628% - 1px);">&nbsp;
</div>

<div class="hold top"
style="left: calc(36.22728279454628% - 1px);
width: 0.3750631218051508%;">&nbsp;
</div>




<div class="note bottom "
style="left: calc(36.22728279454628% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(36.602345916351425% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(36.97654083648573% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(36.97654083648573% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(36.97654083648573% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(37.726667080096036% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(37.726667080096036% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(38.47592512203549% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(38.47592512203549% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(38.47592512203549% - 1em);">
|<br>120
</div>


<div class="note top "
style="left: calc(38.85098824384064% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(38.85098824384064% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(39.22518316397495% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(39.22518316397495% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(39.600246285780095% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(39.600246285780095% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(39.600246285780095% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(39.97530940758525% - 1px);">&nbsp;
</div>

<div class="hold bottom"
style="left: calc(39.97530940758525% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note top "
style="left: calc(40.34950432771955% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(40.724567449524706% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(41.099630571329854% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(41.099630571329854% - 1em);">
|<br>130
</div>


<div class="note bottom "
style="left: calc(41.099630571329854% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(41.473825491464154% - 1px);">&nbsp;
</div>

<div class="hold top"
style="left: calc(41.473825491464154% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note bottom "
style="left: calc(41.84888861326931% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(42.22395173507446% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(42.598146655208765% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(42.598146655208765% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(42.598146655208765% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(42.97320977701391% - 1px);">&nbsp;
</div>




<div class="note bottom gimmicked"
style="left: calc(43.34827289881907% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="0"
data-npos="138"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 43.34827289881907%;

">
<div class="gimmickmarker">1</div>

</div>



<div class="note top "
style="left: calc(43.722467818953376% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(44.097530940758524% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(44.097530940758524% - 1em);">
|<br>140
</div>


<div class="note bottom "
style="left: calc(44.47172586089283% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(44.84678898269798% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(45.221852104503135% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(45.596047024637436% - 1px);">&nbsp;
</div>




<div class="note bottom gimmicked"
style="left: calc(45.596047024637436% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="1"
data-npos="145"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 45.596047024637436%;

width: 10.493953595506612%;

">
<div class="gimmickmarker">2</div>

<div class="gimmicklength">&nbsp;</div>

</div>


<div class="marker five"
style="left: calc(45.596047024637436% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(45.97111014644259% - 1px);">&nbsp;
</div>

<div class="hold top"
style="left: calc(45.97111014644259% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note bottom gimmicked"
style="left: calc(45.97111014644259% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="2"
data-npos="147"
style="--gimmicklayer: 1;
--gimmicklayer-filtered: 0;
left: 45.97111014644259%;

width: 10.868148515640918%;

">
<div class="gimmickmarker">3</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note bottom gimmicked"
style="left: calc(46.72036818838205% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="3"
data-npos="148"
style="--gimmicklayer: 2;
--gimmicklayer-filtered: 0;
left: 46.72036818838205%;

width: 10.493953595506612%;

">
<div class="gimmickmarker">4</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note top "
style="left: calc(47.095431310187195% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(47.47049443199235% - 1px);">&nbsp;
</div>



<div class="marker fifty"
style="left: calc(47.47049443199235% - 1em);">
|<br>150
</div>


<div class="note top "
style="left: calc(47.84468935212665% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(47.84468935212665% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(48.2197524739318% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(49.71913675948156% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(49.99956589916458% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(49.99956589916458% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(50.280863240518435% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(50.280863240518435% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(50.46839480142101% - 1px);">&nbsp;
</div>

<div class="hold bottom"
style="left: calc(50.46839480142101% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note top "
style="left: calc(51.0301212824579% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(51.21765284336047% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(51.21765284336047% - 1em);">
|<br>160
</div>


<div class="note bottom "
style="left: calc(51.592715965165624% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(51.96777908697077% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(52.34197400710508% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(52.71703712891023% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(53.09210025071538% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(53.09210025071538% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(53.46629517084969% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(53.84135829265484% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(54.21555321278914% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(54.59061633459429% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(54.59061633459429% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(54.59061633459429% - 1em);">
|<br>170
</div>


<div class="note bottom "
style="left: calc(54.96567945639945% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(55.33987437653375% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(55.7149374983389% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(56.090000620144046% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(56.090000620144046% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(56.090000620144046% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(56.46419554027836% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(56.83925866208351% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(57.21432178388866% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(57.58851670402296% - 1px);">&nbsp;
</div>




<div class="note bottom gimmicked"
style="left: calc(57.963579825828106% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="4"
data-npos="180"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 57.963579825828106%;

width: 9.556295790993737%;

">
<div class="gimmickmarker">5</div>

<div class="gimmicklength">&nbsp;</div>

</div>


<div class="marker ten"
style="left: calc(57.963579825828106% - 1em);">
|<br>180
</div>


<div class="note top "
style="left: calc(58.33864294763327% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(58.33864294763327% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(58.71283786776757% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(58.71283786776757% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(59.46296411137787% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(59.46296411137787% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(59.83715903151218% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(60.21222215331733% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(60.587285275122476% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(60.96148019525678% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(60.96148019525678% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(60.96148019525678% - 1em);">
|<br>190
</div>


<div class="note top "
style="left: calc(61.33654331706193% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(61.33654331706193% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(61.711606438867086% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(62.085801359001394% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(62.085801359001394% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(62.085801359001394% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(62.46086448080654% - 1px);">&nbsp;
</div>

<div class="hold top"
style="left: calc(62.46086448080654% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note bottom "
style="left: calc(63.02259096184342% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(63.210122522746005% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(63.58518564455115% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(63.9602487663563% - 1px);">&nbsp;
</div>



<div class="marker fifty"
style="left: calc(63.9602487663563% - 1em);">
|<br>200
</div>


<div class="note bottom "
style="left: calc(64.3344436864906% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(64.70950680829574% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(65.08370172843007% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(65.45876485023521% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(65.45876485023521% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(65.45876485023521% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(66.20802289217467% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(66.95814913578498% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(67.23857827546799% - 1px);">&nbsp;
</div>




<div class="note top gimmicked"
style="left: calc(67.51987561682185% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="0"
data-npos="209"
style="--gimmicklayer: 0;
--gimmicklayer-filtered: 0;
left: 67.51987561682185%;

">
<div class="gimmickmarker">1</div>

</div>



<div class="note bottom gimmicked"
style="left: calc(67.51987561682185% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="0"
data-npos="210"
style="--gimmicklayer: 1;
--gimmicklayer-filtered: 1;
left: 67.51987561682185%;

">
<div class="gimmickmarker">1</div>

</div>


<div class="marker ten"
style="left: calc(67.51987561682185% - 1em);">
|<br>210
</div>


<div class="note bottom gimmicked"
style="left: calc(67.70740717772442% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="1"
data-npos="211"
style="--gimmicklayer: 2;
--gimmicklayer-filtered: 0;
left: 67.70740717772442%;

width: 9.36876423009116%;

">
<div class="gimmickmarker">2</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note top gimmicked"
style="left: calc(67.98870451907828% - 1px);">&nbsp;
</div>


<div class="gimmick" data-gimmick="5"
data-npos="212"
style="--gimmicklayer: 3;
--gimmicklayer-filtered: 0;
left: 67.98870451907828%;

width: 9.462530010542448%;

">
<div class="gimmickmarker">6</div>

<div class="gimmicklength">&nbsp;</div>

</div>



<div class="note top "
style="left: calc(68.27000186043215% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(68.27000186043215% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(68.45666521966389% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(68.45666521966389% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(68.83172834146903% - 1px);">&nbsp;
</div>

<div class="hold bottom"
style="left: calc(68.83172834146903% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note top "
style="left: calc(69.95604950521363% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(69.95604950521363% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(70.3311126270188% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(70.7053075471531% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(70.7053075471531% - 1em);">
|<br>220
</div>


<div class="note bottom "
style="left: calc(70.89283910805568% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(71.08037066895824% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(71.4554337907634% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(71.82962871089771% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(72.20469183270285% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(72.20469183270285% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(72.579754954508% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(72.9539498746423% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(72.9539498746423% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(73.70407611825262% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(73.70407611825262% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(73.70407611825262% - 1em);">
|<br>230
</div>


<div class="note top "
style="left: calc(74.45333416019207% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(74.45333416019207% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(75.01506064122896% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(75.01506064122896% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(75.95185024407098% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(75.95185024407098% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(76.13938180497355% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(76.32691336587612% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(76.51444492677871% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(76.70197648768128% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(77.0761714078156% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(77.0761714078156% - 1em);">
|<br>240
</div>


<div class="note bottom "
style="left: calc(77.0761714078156% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(77.45123452962073% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(77.45123452962073% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(77.82629765142589% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(77.82629765142589% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(77.82629765142589% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(78.20049257156019% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(78.20049257156019% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(78.57555569336535% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(78.57555569336535% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(79.69987685710996% - 1px);">&nbsp;
</div>



<div class="marker fifty"
style="left: calc(79.69987685710996% - 1em);">
|<br>250
</div>


<div class="note top "
style="left: calc(79.98117419846382% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(80.26160333814683% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(80.44913489904941% - 1px);">&nbsp;
</div>

<div class="hold bottom"
style="left: calc(80.44913489904941% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note top "
style="left: calc(81.01172958175712% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(81.19926114265971% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(81.19926114265971% - 1em);">
|<br>&nbsp;
</div>


<div class="note bottom "
style="left: calc(81.57345606279401% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(81.94851918459916% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(82.32358230640432% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(82.69777722653862% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(83.07284034834377% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(83.07284034834377% - 1em);">
|<br>260
</div>


<div class="note top "
style="left: calc(83.44790347014892% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(83.44790347014892% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(83.82209839028323% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(83.82209839028323% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(84.19716151208839% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(84.19716151208839% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(84.57135643222269% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(84.57135643222269% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(84.94641955402783% - 1px);">&nbsp;
</div>

<div class="hold top"
style="left: calc(84.94641955402783% - 1px);
width: 1.1243211637446069%;">&nbsp;
</div>




<div class="note bottom "
style="left: calc(85.50901423673557% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(85.6956775959673% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(85.6956775959673% - 1em);">
|<br>270
</div>


<div class="note top "
style="left: calc(86.07074071777244% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(86.4458038395776% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(86.8199987597119% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(87.19506188151705% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(87.5701250033222% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(87.5701250033222% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(87.9443199234565% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(88.31938304526166% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(88.6944461670668% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(89.06864108720112% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(89.44370420900627% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(89.44370420900627% - 1em);">
|<br>280
</div>


<div class="note top "
style="left: calc(89.81876733081141% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(90.19296225094571% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(90.56802537275088% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(90.94308849455602% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(90.94308849455602% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(90.94308849455602% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(91.87987809739805% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(92.06740965830062% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(92.25407301753236% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(92.44160457843493% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(92.6291361393375% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(92.6291361393375% - 1em);">
|<br>290
</div>


<div class="note bottom "
style="left: calc(92.81666770024009% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(93.00419926114266% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(93.19173082204523% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(93.37839418127697% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(93.56592574217953% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(93.56592574217953% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(93.75345730308212% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(93.9409888639847% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(94.12852042488727% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(94.315183784119% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(94.50271534502157% - 1px);">&nbsp;
</div>



<div class="marker fifty"
style="left: calc(94.50271534502157% - 1em);">
|<br>300
</div>


<div class="note bottom "
style="left: calc(94.69024690592414% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(94.87777846682673% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(95.0653100277293% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(95.25284158863188% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(95.4395049478636% - 1px);">&nbsp;
</div>



<div class="marker five"
style="left: calc(95.4395049478636% - 1em);">
|<br>&nbsp;
</div>


<div class="note top "
style="left: calc(95.62703650876618% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(95.81456806966875% - 1px);">&nbsp;
</div>

<div class="hold bottom"
style="left: calc(95.81456806966875% - 1px);
width: 2.436173888391789%;">&nbsp;
</div>




<div class="note top "
style="left: calc(98.25074195806054% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(98.25074195806054% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(98.62493687819484% - 1px);">&nbsp;
</div>



<div class="marker ten"
style="left: calc(98.62493687819484% - 1em);">
|<br>310
</div>


<div class="note bottom "
style="left: calc(98.62493687819484% - 1px);">&nbsp;
</div>




<div class="note top "
style="left: calc(99% - 1px);">&nbsp;
</div>




<div class="note bottom "
style="left: calc(99% - 1px);">&nbsp;
</div>




</div>
</div>

<div class="row nomargin">
<div class="col l6 detailinfo">
<h5>Gimmicks</h5>
<div>
<div>Song Gimmick</div>
<div>


<div class="songgimmick">

<div class="number">①</div>

<div class="text">
Non-<span class="a active">Active</span> units lose 50% Base Appeal<br>
<b>Cleansable:</b>
No
</div>
</div>

<div class="songgimmick">

<div class="number">②</div>

<div class="text">
<span class="t gd">Gd</span> units lose 50% Base Skill Activation Chance<br>
<b>Cleansable:</b>
No
</div>
</div>


</div>
</div>

<div data-gimmick="0" class="gimmick">
<div>Note Gimmick 1</div>
<div>
Take 30&#8239;000 points of stamina damage

<br><b>Amount:</b> 5 notes

</div>
</div>

<div data-gimmick="1" class="gimmick">
<div>Note Gimmick 2</div>
<div>
<span class="t vo">Vo</span> units lose 50% Appeal for 30 notes

<br><b>Amount:</b> 3 notes

</div>
</div>

<div data-gimmick="2" class="gimmick">
<div>Note Gimmick 3</div>
<div>
If hit, <span class="t sk">Sk</span> units gain 20% Skill Activation Chance for 30 notes

<br><b>Amount:</b> 2 notes

</div>
</div>

<div data-gimmick="3" class="gimmick">
<div>Note Gimmick 4</div>
<div>
If hit, <span class="t sk">Sk</span> units gain 10% Skill Activation Chance for 30 notes

<br><b>Amount:</b> 2 notes

</div>
</div>

<div data-gimmick="4" class="gimmick">
<div>Note Gimmick 5</div>
<div>
If hit, <span class="t vo">Vo</span> units gain 10% Appeal for 30 notes

<br><b>Amount:</b> 2 notes

</div>
</div>

<div data-gimmick="5" class="gimmick">
<div>Note Gimmick 6</div>
<div>
If hit, <span class="t sk">Sk</span> units gain 10% Appeal for 30 notes

<br><b>Amount:</b> 1 note

</div>
</div>

</div>
<div class="col l6 detailinfo">
<h5>Appeal Chances</h5>

<div data-ac="0" class="appealchance vo">
<div>AC 1: Get 2&#8239;090&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t sk">Sk</span> units gain 20% Critical Power for 40 notes

<br>
<b>Length:</b> 19 notes

(avg. 110&#8239;000 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 1&#8239;860&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 33&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="1" class="appealchance vo">
<div>AC 2: Get 1&#8239;269&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t sp">Sp</span> units gain 30% Skill Activation Chance for 40 notes

<br>
<b>Length:</b> 25 notes

(avg. 50&#8239;760 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 1&#8239;860&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 49&#8239;500 Damage</div>
</div>

</div>
</div>

<div data-ac="2" class="appealchance sp">
<div>AC 3: Get 528&#8239;000 Voltage from SP</div>
<div>
On AC Success, <span class="t vo">Vo</span> units gain 30% Skill Activation Chance for 40 notes

<br>
<b>Length:</b> 4 notes

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 6&#8239;200&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 67&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="3" class="appealchance vo">
<div>AC 4: Get 2&#8239;967&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t sk">Sk</span> units gain 30% Critical Chance for 40 notes

<br>
<b>Length:</b> 27 notes

(avg. 109&#8239;889 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 1&#8239;860&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 33&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="4" class="appealchance vo">
<div>AC 5: Get 1&#8239;287&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t vo">Vo</span> units gain 30% Skill Activation Chance for 40 notes

<br>
<b>Length:</b> 23 notes

(avg. 55&#8239;957 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 1&#8239;860&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 33&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="5" class="appealchance vo">
<div>AC 6: Get 2&#8239;579&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t sk">Sk</span> units gain 20% Critical Power for 40 notes

<br>
<b>Length:</b> 22 notes

(avg. 117&#8239;228 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 1&#8239;860&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 33&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="6" class="appealchance vo">
<div>AC 7: Get 1&#8239;089&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t vo">Vo</span> units gain 30% Skill Activation Chance for 40 notes

<br>
<b>Length:</b> 21 notes

(avg. 51&#8239;858 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 3&#8239;100&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 33&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="7" class="appealchance vo">
<div>AC 8: Get 1&#8239;932&#8239;000 Voltage</div>
<div>
On AC Success, <span class="t sp">Sp</span> units gain 30% Skill Activation Chance for 40 notes

<br>
<b>Length:</b> 21 notes

(avg. 92&#8239;000 Voltage per note)

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 1&#8239;860&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 33&#8239;000 Damage</div>
</div>

</div>
</div>

<div data-ac="8" class="appealchance sp">
<div>AC 9: Get 620&#8239;000 Voltage from SP</div>
<div>
No Gimmick

<br>
<b>Length:</b> 5 notes

<div class="row nomargin">
<div class="col m6 no-padding"><b>Success:</b> 13&#8239;650&#8239;000 Voltage</div>
<div class="col m6 no-padding"><b>Failure:</b> 90&#8239;000 Damage</div>
</div>

</div>
</div>

</div>
</div>