@tailwind base;
@tailwind components;
@tailwind utilities;

.t {
    @apply font-semibold;

    &.vo {
        @apply text-types-vo;
    }

    &.sp {
        @apply text-types-sp;
    }

    &.gd {
        @apply text-types-gd;
    }

    &.sk {
        @apply text-types-sk-dark;
    }
}

.a {
    @apply font-semibold;

    &.smile {
        @apply text-attributes-smile;
    }

    &.pure {
        @apply text-attributes-pure;
    }

    &.cool {
        @apply text-attributes-cool;
    }

    &.active {
        @apply text-attributes-active;
    }

    &.natural {
        @apply text-attributes-natural-dark;
    }

    &.elegant {
        @apply text-attributes-elegant;
    }
}

.tippy-box {
    opacity: 0;
    transform: translateY(5px);
    transition: transform 0.15s, opacity 0.15s;
    visibility: visible !important;

    /* Have to do a custom animation instead of using the in-built shift-away-subtle, because tippy.js sets transform
    to none at the end - which results in the svg arrow jumping around by a pixel. translateY(0) fixes that */

    &.shown {
        opacity: 1;
        transform: translateY(0);
    }

    & > .tippy-content {
        @apply px-4 py-2;
    }

    &[data-placement^="top"] > .tippy-svg-arrow {
        bottom: 1px;
    }


    &[data-theme="notebar"] {
        @apply bg-white text-black rounded;
        border: 1px solid black;

        & > .tippy-svg-arrow {
            & > svg:first-child {
                fill: black;
            }

            & > svg:last-child {
                fill: white;
            }
        }
    }
}

.tabbar {
    @apply flex items-center w-full overflow-x-auto;

    & > * {
        @apply relative flex-1 h-12 uppercase tracking-wide px-4 flex items-center justify-center whitespace-nowrap
        bg-accent-100/0 transition-colors hover:bg-accent-100 outline-offset-[-.5rem];

        & > .indicator {
            @apply absolute left-0 w-full h-1 bottom-0 overflow-hidden;
        }

        &.active {
            @apply bg-accent-100;

            & > .indicator {
                @apply bg-accent-600;
            }
        }
    }

    & > .sep {
        @apply flex-grow-0 w-1 p-0 bg-accent-600 hover:bg-accent-100/0;
    }

    & > .label {
        @apply font-bold text-accent-600 hover:bg-accent-100/0;
    }
}